.app-container {
  text-align: center;
  h1 {
    width: 50%;
    text-align: left;
    margin: 0 auto;
    padding: 0;
  }
  .stocks {
    margin-top: 20vh;
    border: 2px solid black;
    height: 20vh;
    width: 50%;
    margin: 0 auto;
    li {
      font-size: 20px;
      text-align: left;
    }
  }
  .container {
    margin-top: 50px;
    input {
      width: 40%;
      height: 50px;
      font-size: 25px;
      text-align: right;
    }
    button {
      height: 50px;
      font-size: 25px;
    }

  }
}
